.wrapper {
	width: 90%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-bottom: 3px;
	border-bottom: 3px double #6F6E6F;
}

.result-box {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	text-align: center;
	border: 1px solid #6F6E6F;
	margin: 0 auto 20px;
}

input[type = checkbox] {
	display: none;
}

input[type = checkbox] + label {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 5px;
	width: 47%;
	border: 1px solid #f0831e;
	margin-bottom: 10px;
	text-align: center;
}

input[type = checkbox]:checked + label {
	background-color: #f0831e;
	color: white;
}

.odd-label {
	margin-right: 4%;
}